BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## ULX3S v2.0 through v3.1.8

## LEDs
LOCATE COMP "LED[7]" SITE "H3";
LOCATE COMP "LED[6]" SITE "E1";
LOCATE COMP "LED[5]" SITE "E2";
LOCATE COMP "LED[4]" SITE "D1";
LOCATE COMP "LED[3]" SITE "D2";
LOCATE COMP "LED[2]" SITE "C1";
LOCATE COMP "LED[1]" SITE "C2";
LOCATE COMP "LED[0]" SITE "B2";
IOBUF  PORT "LED[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "LED[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "LED[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "LED[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "LED[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "LED[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "LED[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "LED[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## Pushbuttons
LOCATE COMP "BUTTON[0]" SITE "D6";  # BTN_PWRn (inverted logic)
LOCATE COMP "BUTTON[1]" SITE "R1";  # FIRE1
LOCATE COMP "BUTTON[2]" SITE "T1";  # FIRE2
LOCATE COMP "BUTTON[3]" SITE "R18"; # UP W1->R18
LOCATE COMP "BUTTON[4]" SITE "V1";  # DOWN
LOCATE COMP "BUTTON[5]" SITE "U1";  # LEFT
LOCATE COMP "BUTTON[6]" SITE "H16"; # RIGHT Y2->H16
IOBUF  PORT "BUTTON[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "BUTTON[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "BUTTON[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "BUTTON[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "BUTTON[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "BUTTON[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "BUTTON[6]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
